/* line 1, sass/init.sass */
* {
  border: 0;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

/* line 10, sass/init.sass */
img {
  display: block;
}

/* line 14, sass/init.sass */
html, body {
  height: 100%;
  width: 100%;
}
/* line 18, sass/init.sass */
html .containment, body .containment {
  float: left;
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
}
/* line 25, sass/init.sass */
html .wrap, body .wrap {
  height: 100%;
  margin: 0 auto;
  width: 1152px;
}
